@use "../vars.scss" as *;
@use "../mixins/widget.scss" as *;
@use "../mixins/button.scss" as *;
@use 'sass:color';

.applauncher {
  @include floating-widget();

  .controls {
    .powermenu {
      button {
        @include button(false);
        padding: calc($padding * 2);
      }
    }
  }

  .apps {
    entry {
      @include button();
      padding: calc($padding * 2);

      selection {
        background-color: $primary-bg;
        color: $primary-fg;
      }
    }

    >box {
      @include widget();

      .app-button {
        @include button($flat: true);
        border-radius: 0;
        padding: $padding;

        &:first-child {
          border-top-right-radius: $radius;
          border-top-left-radius: $radius;
        }

        &:last-child {
          border-bottom-right-radius: $radius;
          border-bottom-left-radius: $radius;
        }

        .name {
          font-weight: bold;
        }

        .description {
          font-size: calc(100% - 2pt);
          font-weight: normal;
        }

        icon {
          padding: $padding;
          font-size: calc(100% + 8pt);
        }
      }
    }

    .placeholder {
      padding: $padding;
    }
  }
}
