@use "../vars.scss" as *;
@use "../mixins/button.scss" as *;
@use "../mixins/spacing.scss" as *;
@use "../mixins/widget.scss" as *;

.notification {
  @include widget();

  .header {
    @include spacing();
    padding: $padding $padding 0 $padding;
    color: $fg;

    .time {
      color: $primary-bg;
    }

    button {
      @include button();
      padding: $padding;
    }
  }

  /*
  separator {
    margin: 0 .4rem;
    background-color: $fg;
  }
  */

  .content {
    @include spacing();
    padding: $padding;

    .text {
      @include spacing();

      .summary {
        font-weight: bold;
        color: $fg;
      }

      >box {
        @include widget();
        padding: $padding;

        .body {
          color: $fg;
        }
      }
    }

    .image {
      border-radius: $radius;
      border: $border;
      min-width: 7rem;
      min-height: 7rem;
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    @include spacing();
    padding: 0 $padding $padding $padding;

    button {
      @include button();

      padding: $padding;
    }
  }
}

.notification-box {
  @include floating-widget();
  padding: 0;

  &.critical {
    border: 1pt solid $error-bg;

    .header {
      .app-name {
        color: $error-bg;

      }

      .app-icon {
        color: $error-bg;
      }
    }
  }
}
