@use "../vars.scss" as *;
@use "../mixins/widget.scss" as *;
@use "../mixins/button.scss" as *;
@use "../mixins/slider.scss" as *;
@use 'sass:color';

.quickmenu {
  padding: $padding;

  .notifications {
    @include floating-widget();
    margin: 0;

    .header {
      button {
        @include button();
        padding: $padding;
      }
    }

    .list {
      .placeholder {
        padding: $padding;
      }
    }
  }

  .settings {
    @include floating-widget();
    margin: 0;

    >stack {
      .main {
        .row {
          .arrow-button {
            border-radius: $radius;

            icon {
              font-size: 1.5rem;
            }

            label {
              font-size: 1.2rem;
            }

            button {
              @include button();

              &:first-child {
                padding: ($padding * 1.5) $padding;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }

              &:last-child {
                padding: ($padding * 1.5) $padding;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
              }
            }

            &.active {
              background-color: $primary-bg;

              label,
              icon {
                color: $primary-fg;
              }
            }
          }

          .toggle-button {
            @include button();
            font-weight: bold;
            padding: ($padding * 1.5) $padding;

            label {
              margin-left: $spacing;
              font-size: 1.2rem;
            }

            image {
              font-size: 2rem;
            }
          }
        }

        .sliders-box {
          @include widget();
          padding: $padding;

          .slider-box {
            button {
              @include button(true);
              padding: calc($padding * 1.5);
            }

            scale {
              @include slider();

              &.muted highlight {
                background-image: none;
                background-color: color.adjust($fg, $alpha: -0.2);
              }
            }
          }
        }
      }

      .menu {
        .header {
          >button {
            @include button();
            padding: $padding;

            icon {
              font-size: 1.2rem;
            }
          }

          >label {
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
      }

      .network {
        .content {
          .list {
            button {
              @include button();
              padding: calc($padding * 2);
            }

            button.active {
              background-color: $primary-bg;
              color: $primary-fg;
            }
          }
        }
      }
    }
  }
}
