@use "../vars.scss" as *;
@use "./button.scss" as *;

@mixin switch {
  @include button();
  padding: calc($padding / 2);

  slider {
    background-color: $primary-fg;
    border-radius: $radius;
    min-width: 1.5rem;
    min-height: 1.5rem;
  }

  image {
    color: transparent;
  }
}
