@use 'vars.scss' as *;
@use "./mixins/button.scss" as *;

* {
  all: unset;
  font-size: $font-size;
  font-family: $font-family;
}

window.popup {
  >* {
    border: none;
  }

  menu {
    border-radius: $radius;
    background-color: $bg;
    padding: $padding;

    separator {
      background-color: $border-color;
    }

    menuitem {
      @include button();
      padding: $padding;
      margin: calc($spacing / 2) 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

tooltip {
  * {
    all: unset;
  }

  background-color: transparent;
  border: none;

  >*>* {
    background-color: $bg;
    border-radius: $radius;
    color: $fg;
    padding: $padding;
  }
}
