@use "/tmp/astal/vars.scss";

$bg: vars.$bg;
$fg: vars.$fg;
$primary-bg: vars.$primary-bg;
$primary-fg: vars.$primary-fg;
$error-bg: vars.$error-bg;
$error-fg: vars.$error-fg;
$border-width: vars.$border-width;
$border-color: vars.$border-color;
$border: vars.$border;
$widget-bg: vars.$widget-bg;
$scheme: vars.$scheme;
$padding: vars.$padding;
$spacing: vars.$spacing;
$radius: vars.$radius;
$transition: vars.$transition;
$hover-bg: vars.$hover-bg;
$hover-fg: vars.$hover-fg;
$font-size: vars.$font-size;
$font-family: vars.$font-name;
